
@import "Styles/variables.css";

.description h1 {
    font-size: 36pt;
    text-transform: uppercase;
    font-family: "Saira Condensed", sans-serif;
    padding-left: 20px;
    text-shadow: 3px 3px 2px #2c2c2c73;
    color: #f4f4f4;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--sm-smooth) 0%, #c7cceb86 51%, #e7e6db14 100%);
    margin: 0 0 20px;
}

.description, .about-me,.description-ft {
    display: flex;
    gap: 3.5rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* text-shadow: 2px 2px 4px #ffffffe3; */
    max-width: 1400px;
}

.description-text {
    max-width: 85%;
}

.description-text li {
    padding: 5px 0;
    font-size: 20px;
}

.about-me {
    flex-direction: row;
    width: 92%;
    position: relative;
    padding: 10px;
}

.description {
    animation: fadeInUp 0.5s ease-in-out;
}
.description:hover {
    transform: translateY(-4px); /* Efeito de leve elevação ao passar o mouse */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.description, .description-ft {
    background: #ffffff2e;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 30px;
    backdrop-filter: blur(25px);
    transition: all 0.1s ease-in-out;
    z-index: 2;
    overflow: hidden;
    position: relative;
}


.tec-tables {
    font-weight: 400;
    line-height: 1.25;
    font: 1.1rem "Fira Sans", sans-serif;
}

.apresentation {
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
    width: 90%;
}

.apresentation p {
    margin: auto;
    line-height: 1.5;
}

.readMore {
   width: 270px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
   
    margin: 0;
    width: 100%;
    max-width: 170px;
}

.socials a{
    background: #c7cbff;
    border-radius: 50%;
    text-decoration: none;
    text-shadow: 1px 20px 5px #00000078;
    scale: 1.2;
}
.dark-mode .socials a{
    text-shadow: 1px 20px 5px #bebebe78;
}
.socials a i {
    padding: 5px 6px;
}
.socials a:hover {
    background: #fff;
    transform: scale(1.1)
}
.socials span { 
    font-weight: bold;
    font-size: 20px;
}

.box-games {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    display: block;
}

.contact--ft {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 30px;
}
.social-footer {
    max-width: 250px;
}

@media screen and (max-width: 980px) {
    header {
        height: 100%;
    }
    .page {
        max-width: 100%;
    }
}
@media screen and (max-width: 580px) {
    .description, .about-me {
        flex-wrap: wrap;
    }
    #portfolio {
        justify-content: center;
    }
    
}
@media screen and (max-width: 490px) {
    .page {
        padding: 5em 2.2em 0;
    }
    .apresentation {
        font-size: 15pt;
    }
    .description h1 {
        font-size: 22pt;
    }
    .description,.about-me,.description-ft {
        padding: 20px;
    }
    .socials span{
        display: none;
        flex-direction: row;
    }
    .contact--ft {
        flex-direction: column;
        padding: 30px 20px !important;
    }
}

/* Frameworks colors */
.html-bg {
    background-color: var(--html-bg);
}
.react-project {
    background-color: var(--react-project);
}
.css-bg {
    background-color: var(--css-bg);
}
.js-bg {
    background-color: var(--js-bg);
}
.react-bg {
    background-color: var(--react-bg);
}
.vue-bg {
    background-color: var(--vue-bg);
}
.sass-bg {
    background-color: var(--sass-bg);
}
.node-bg {
    background-color: var(--node-bg);
}
.wp-bg {
    background-color: var(--wp-bg);
}
.docker-bg {
    background-color: var(---bg);
}
