
@import "Styles/variables.css";
/* #944300de */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #007468 0%, rgba(135,231,230,1) 50%, #007468 100%);
}

header { grid-area: top; }
.work-projects { grid-area: mid; }
.contact--ft { grid-area: bot; }

.page {
    margin: 50px 2% 0;
    display: grid;
    grid-template-rows: 1fr 1fr 80px;
    gap: 40px;
    width: 100%;
    grid-template-areas:
    "top"
    "mid"
    "bot";
}
header, section, footer {
    text-shadow: 4px 15px 20px #fff;
    background-color: rgb(224 255 255);
}

h1, h2, h3, p {
    color: var(--green-dark);
    margin: 0 auto;
}

.description h1 {
    padding-bottom: 20px;
    text-shadow: 4px 4px 3px #0091338c;
    font-size: 48pt;
}

.description, .about-me {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about-me {
    flex-direction: row;
    width: 100%;
}

.description {
    color: #000;
    box-shadow: 1px 1px 17px 11px var(--blue-green-smooth);
    border-radius: 20px;
    padding: 40px;
    align-items: center;
}

.picture-marcio img{
    width: 250px;
    max-width: 100%;
    border: 2px solid var(--green);
    border-radius: 50%;
}

/* Layout White */
.containers-white {
    background-color: rgb(255 255 255 / 62%) !important;
    box-shadow: 1px 1px 20px 7px #6767676b;
}

.bodyWhite {
    background: #e3e3e3;
}
/* End white container */

.tec-tables {
    font-weight: 400;
    line-height: 1.25;
    font: 1.2rem "Fira Sans", sans-serif;
}

.apresentation {
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
    color: var(--green);
    width: 90%;
    max-width: 960px;
}

.apresentation p {
    margin: auto;
    line-height: 1.5;
    font-size: 18pt;
    text-shadow: 3px 3px 4px #a3f6ff;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
   
    margin: 0;
    width: 100%;
    max-width: 250px;
}

.socials a{
    text-shadow: 0px 20px 5px #c7cbff;
    border-radius: 50%;
    scale: 1.2;
    text-decoration: none;
    background: #c7cbff;
}
.socials a i {
    padding: 5px 6px;
}
.socials a:hover {
    background: #fff;
    transform: scale(1.1)
}
.socials span { 
    font-weight: bold;
    font-size: 20px;
}

.box-games {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    display: block;
}

.contact--ft {
    flex-direction: row;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 30px;
}

@media screen and (max-width: 720px) {
    .description, .about-me {
        flex-wrap: wrap;
    }
    #portfolio {
        justify-content: center;
    }
    
}
@media screen and (max-width: 490px) {
    .description,.about-me {
        padding: 20px;
    }
    .socials span{
        display: none;
        flex-direction: row;
    }
    .contact--ft {
        padding: 30px 20px !important;
    }
}
