* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #6600da 0%, #300364d3 10%, #3f00ffa6 50%, #300364d3 90%, #6600da 100%);
    margin: 5%;
}

.page {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    grid-template-rows: 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "hed"
    "mid"
    "fot";
}

header {
    grid-area: hed;
}
section {
    grid-area: mid;
}
footer {
    grid-area: fot;
}

p {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 20px;
}

.picture, .description {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: start;
}

.picture img {
    max-width: 200px;
    height: 200px;
}

.description {
    color: #ffffff;
    background: rgba(4, 1, 44, 0.8);
    box-shadow: inset 0 1px 20px rgba(204, 149, 255, 0.932);
    border-radius: 20px;
    filter: drop-shadow(0px 75px 100px #573c3c);
    padding: 40px;
    flex-direction: column;
}

.intro {
    flex-direction: row;
}

.description h1,
.container-port {
    text-align: center;
    margin: 0 auto;
}

.work-tables {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.work-tables p{
    max-width: 450px;
}
.container {
    gap: 100px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.box {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
}

.box {
    cursor: pointer;
    height: 200px;
    width: 200px;

    background: repeating-conic-gradient(from var(--a), #21ff19 0%, #21ff19 5%, 
                transparent 5%, transparent 5%, transparent 40%, #21ff19 50%);
    animation: animate 2.5s linear infinite;
    animation-play-state: paused;
}

.box:nth-child(1) {
    filter: drop-shadow(0 15px 50px #000) hue-rotate(240deg);
}
.box:nth-child(3) {
    filter: drop-shadow(0 15px 50px #000) hue-rotate(110deg);
}
.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #21ff19 0%, #21ff19 5%, transparent 5%,
                transparent 5%, transparent 40%, #21ff19 50%);
    animation: animate 2.5s linear infinite;
    animation-play-state: paused;
    animation-delay: -0.5s;
    border-radius: 20px;
}

.box:hover,
.box:hover::before {
    animation-play-state: running;
}

.box::after {
    content: "";
    position: absolute;
    inset: 6px;
    border: 5px solid #282833;
    background: #2b2b39;
    border-radius: 15px;
    outline: 7px double #282833c4;
}

.box h2 {
    background: rgba(0,0,0,.2);
    border-radius: 18px;
    box-shadow: inset 0 10px 20px rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(255,255,255,.15);
    color: #f3f3f3;
    font-size: 1.5rem;
    font-weight: bold;
    inset: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 9px #73ff00;
    position: absolute;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 12%;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}
.socials span {
    font-weight: bold;
    font-size: 20px;
}
.socials a{
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    background: #dad9d9;
}
.socials a i {
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
}
.socials a:hover {
    background: #fff;
    transform: scale(1.1)
}

@keyframes animate {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}


@media screen and (max-width: 900px) {
    .picture {
        flex-wrap: wrap;
    }
    .intro {
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .work-tables {
        flex-direction: column;    
    }

}

@media screen and (max-width: 480px) {
    .description {
        padding: 20px;
    }
    .description h1 {
        font-size: 21px;
    }
    /* .socials {
        gap: 20px;
    } */
    .socials span{
        display: none;
    }
}
