* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #944300de */
body {
   background: linear-gradient(180deg, #443a5c  0%, #23133f 25%, #23133f 81%, #4c445d 100%);
    /*     background: linear-gradient(180deg, #501300  10%, #9f0000 50%, #9f0000 80%, #530000  100%); */
    margin: 0 2%;
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    font-family: "Saira Condensed", sans-serif;
}

nav { grid-area: nav; }
header { grid-area: hed; }
.tec-tables { grid-area: mid; }
.work-projects { grid-area: mid2; }
footer { grid-area: fot; }

.page {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 40px;
    align-items: center;
    grid-template-areas:
    "nav"
    "hed"
    "mid"
    "mid2";
}

.container {
    gap: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 60px;
    width: 180px;
    background: repeating-conic-gradient(from var(--a), #a7ff19 0%, #21ff19 5%, 
                transparent 5%, transparent 5%, transparent 40%, #21ff19 50%);
    animation: animate 2.5s linear infinite;
    animation-play-state: paused;
}

.box h2 {
    background: rgba(0,0,0,.2);
    border-radius: 18px;
    box-shadow: inset 0 10px 20px rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(255,255,255,.15);
    color: #f3f3f3;
    font-size: 1.2rem;
    font-weight: bold;
    inset: 12px;
    text-transform: uppercase;
    text-shadow: 2px 2px 9px #73ff00;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp h2 {
    font-size: 18px !important;
}
.box:nth-child(1) {
    filter: drop-shadow(0 15px 50px #000) hue-rotate(240deg);
}
.box:nth-child(3) {
    filter: drop-shadow(0 15px 50px #000) hue-rotate(110deg);
}

.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #21ff19 20%, #19ffff 20%, transparent 30%, transparent 20%, transparent 45%, #21ff19 70%);
    animation: animate 2.5s linear infinite;
    animation-play-state: paused;
    animation-delay: -0.5s;
    border-radius: 20px;
}

.box:hover,
.box:hover::before {
    animation-play-state: running;
}

.box::after {
    content: "";
    position: absolute;
    inset: 6px;
    border: 5px solid #282833;
    background: #2b2b39;
    border-radius: 15px;
    outline: 5px double #332e35c9;
}

.description h1,
.container-port {
    text-align: center;
    margin: 0;
}

.description, .about-me {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}

.about-me {
    flex-direction: row;
}

.description, .about-me {
    color: #fff;
    /* background: #d6dfa9; */
    box-shadow: inset 0px 0px 35px 5px #502ca3;/*030a63*/
    border-radius: 20px;
    padding: 40px;
    align-items: center;
}
/* Ajustando as cores das sombras por seção */
/* .about-me {
    border: 1px groove #ffb7008f;
    box-shadow: inset 0px 0px 35px 5px #030a63;
}
.tec-tables{
    border: 1px groove #14efdda3;
    box-shadow: inset 0px 0px 35px 5px #4c8b46af;
}
.tec-tables{
    border: 1px groove #14efdda3;
    box-shadow: inset 0px 0px 35px 5px #63b15c;
} */
/* Termino sombreamento */
.about-me img {
    max-width: 250px;
    height: 250px;
    border: 2px solid #340096;
    border-radius: 50%;
}

.description-text {
    /* font: 16px Arial, Helvetica, sans-serif; */
    font-weight: 400;
    line-height: 1.25;
    margin: auto;
}

.apresentation {
    font-size: 24pt;
    font-weight: bold;
    width: 90%;
    max-width: 960px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    max-width: 600px;
}

.apresentation p {
    margin: auto;
    padding: 15px 0;
    font-size: 16pt;
}

.frameworks {
    max-width: 400px;
    margin: 0 auto;
}

.work-tables {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
   
    margin: 0;
    width: 100%;
    max-width: 250px;
}
.socials a{
    text-shadow: 0px 20px 3px #8bab9c;
    border-radius: 50%;
    scale: 1.4;
    text-decoration: none;
    background: #dad9d9;
}
.socials a i {
    padding: 6px;
    border-radius: 50%;
}
.socials a:hover {
    background: #fff;
    transform: scale(1.1)
}
.socials span {
    font-weight: bold;
    font-size: 20px;
}

.box-games {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    display: block;
}

.contact--hd{
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px 35px;
}

.contact--ft {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

@media screen and (max-width: 980px) {
    .about-me, .intro, .contact--hd{
        flex-direction: column;
    }
}
@media screen and (max-width: 720px) {
    .work-tables  {
        flex-direction: column;    
    }
}
@media screen and (max-width: 490px) {
    .contact--hd {
        flex-direction: row;
    }
    .contact--hd .socials {
        flex-direction: column;
        margin: 5px;
        gap: 20px;
    }
    .contact--hd .socials a{
       text-shadow: none;
    }
    .description,.about-me {
        padding: 20px;
    }
    .description h1 {
        font-size: 21px;
    }
    .socials span{
        display: none;
        flex-direction: row;
    }
    .contact--ft {
        padding: 30px 20px !important;
    }
}
