
.work-tables {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin: 0 auto;
   text-align: center;
   padding-top: 40px;
}

.frameworks {
      width: 90px;
      height: 100px;
      position: relative;
      border-radius: 5%;
      max-width: 100%;
      background: radial-gradient(circle, rgba(0,0,0,0.6558998599439776) 0%, rgba(167,167,167,0.6699054621848739) 50%, rgba(108,108,108,0.6979166666666667) 100%);
}

.frameworks img {
   width: 70px;
   max-width: 100%;
   padding: 5px;
   object-fit: contain;
}
.frameworks::before {
   content: attr(data-title);
   color: white;
   font-weight: bold;
   width: 100%;
   height: 20px;
   padding: 2px 0;
   background: var(--green-dark);
   position: absolute;
   left: 0;
   bottom: 0;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;
   font-size: 1rem;
}

.frameworks::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 20%;
   height: 25%;
   background: linear-gradient(234deg, rgb(224 255 255) 36%, #005753 50%, rgba(0, 0, 0, 0.822) 50%, rgba(79, 79, 79, 0.815) 75%, #5f5f5f 75%, #414040ce);
   z-index: 1;
   border-bottom-left-radius: 6px;
   pointer-events: none;
   opacity: 1;
}