#btnOpenClose  {
    display: none;
}
#btnOpenClose span {
    width: 25px;
    height: 4px;
    position: absolute;
    top: 10px;
    border-radius: 10px;
    transition: 0.6s;
}

#btnOpenClose .l-left { 
    left: 3%; 
    background: linear-gradient(270deg, #ffffff 25%,var(--text-btn) 75%);

}
#btnOpenClose .l-right { 
    background: linear-gradient(90deg, #ffffff 25%,var(--text-btn) 75%);
    right: 3%; 
}

#btnOpenClose .line:nth-child(1),
#btnOpenClose .line:nth-child(4) {
    opacity: 0;
    top: 17px;
}
#btnOpenClose .line:nth-child(2),
#btnOpenClose .line:nth-child(5) {
    top: 24px;
    transform: translateY(-7px) rotate(-45deg);
}

#btnOpenClose .line:nth-child(3),
#btnOpenClose .line:nth-child(6) {
    transform: translateY(7px) rotate(45deg);
}
#btnOpenClose.rotate-menu .line {
    transform: none;
    opacity: 1;
}

.contact--hd {
    position: absolute;
    font-family: "Saira Condensed", sans-serif;
    color: #fff;
    font-size: 13pt;
    padding: 20px 15px;
    width: 100%;
    overflow: auto;
    z-index: 99;
    transition: all 1s ease-in-out;
}

.container-menu {
    box-shadow: inset 0px -1px 20px 0px var(--border-shadow);
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    height: 80px;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    left: 0;
    border-radius: 0 0 14px 14px;
}

.contact--hd, .btn-menu, .container-menu {
    top: 0;
    background: #03002bf0;
}

.hiden {
    display: none;
}

.btn-menu {
    border: none;
    box-shadow: -5px 1px 20px 1px var(--border-shadow);
    height: 40px;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 14%;
    z-index: 100;
}

.themes {
    max-width: 150px;
}

.themes img {
    border-radius: 50%;
    width: 50px;
    height: 42px;
    padding: 5px;
    filter: saturate(.5);
}

.themes img:hover {
    filter: saturate(1);
}

.intro { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: 0px 7px 5px #a79d44;
}

.box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 45px;
    width: 150px;
    animation: animate 2.5s linear infinite;
    animation-play-state: paused;
    box-shadow: 0px 3px 4px 0px #ffd09ac7;
}

.box p {
    background: rgba(0,0,0,.2);
    border-radius: 18px;
    box-shadow: inset 0 10px 10px rgba(0,0,0,.5);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    inset: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 9px #FFA500;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    margin: 0;
}

.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), var(--text-btn) 20%, var(--aqua) 20%, transparent 30%, transparent 20%, transparent 45%, var(--text-btn) 70%);
    animation: animate 2.5s linear infinite;
    animation-play-state: paused;
    animation-delay: -0.5s;
    border-radius: 20px;
}

#dlw-cur {
    width: 165px;
    text-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#dlw-cur i {
    left: 8px;
    margin-bottom: 3px;
    position: absolute;
}
#dlw-cur p {
    box-shadow: none;
    font-size: 15px !important;
    text-align: right;
    padding-left: 15px;
}
.container {
    gap: 20px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box:hover,
.box:hover::before {
    animation-play-state: running;
}

.box::after {
    content: "";
    position: absolute;
    inset: 6px;
    border: 5px solid #282833;
    background: #2b2b39;
    border-radius: 15px;
    outline: 6px double #332e35c9;
}

.my-email {
    font-size: 16px;
}

@keyframes rotate {
    0% {
        --a: 0deg;
    }
    100%{
        --a: 180deg;
    }
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

@media screen and (max-width: 980px) {
    .contact--hd  {
        display: none;
        position: fixed;
    }
    #btnOpenClose, .container-menu, .contact--hd, .page{
        width: 100%;
    }
    .container-menu {
        height: 100vh;
        flex-direction: column;
    }
    #btnOpenClose {
        border-radius: 0;
        display: block !important;
    }
    .container {
        flex-direction: column;
    }
    
    .description, .about-me {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 980px){
    #sideMenu {
        display: block !important;
    }
}