.project-git {
   width: 100%;
   margin: 0 auto;
   color: #fff;
}

.project-git img {
   width: 200px;
   height: 200px;
}

.project-git ul {
   display: flex;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap;
   align-items: center;
}

.project-git li {
   list-style: none;
   max-width: 550px;
   width: 100%;
   background: linear-gradient(207deg, #3a4261e0 0%, rgb(77 189 255) 50%, #3a4261e0 100%);
   padding: 15px;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.project-git div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   gap: 20px;
}

.desc-project {
   text-align: left;
}

@media screen and (max-width: 590px) {
   .project-git div {
      flex-wrap: wrap;
   }
}