.project-git {
   margin: 0 auto;
   width: 100%;
}

.project-git li {
   list-style: none;
   max-width: 530px;
   width: 100%;
   box-shadow: 3px 4px 8px var(--text);
   border-radius: 2%;
   background: linear-gradient(180deg, var(--white) 0%,  var(--white) 25%, var(--white) 75%, var(--text));
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   height: 100%;
}

.project-git .container-project {
   display: flex;
   box-shadow: inset var(--text) -1px 0px 13px 0px;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

.img-project {
   align-content: center;
   cursor: pointer;
   max-width: 240px;
   width: 40%;
   height: 200px;
   box-shadow: inset rgb(0, 0, 0) 5px 5px 20px 0px;
}

.img-project div {
   height: 100%;
}

.img-project img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   max-height: 200px;
}

/* Quando clicado nas imagens do projeto */
.showImage {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 999;
   top: 0;
   left: 0;
   background: rgb(0 0 0 / 84%);
   text-align: center;
}

.showImage img {
   padding: 5%;
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
}

.showImage span {
   display: block !important;
   cursor: pointer;
   position: absolute;
   top: 1.5rem;
   left: 0;
   right: 0;
   text-align: center;
   font-size: 24pt;
   color: #fff;
}

/* --- Fim ação das imagens */

.project-git ul {
   display: flex;
   justify-content: space-around;
   gap: 40px;
   flex-wrap: wrap;
   align-items: center;
}

.desc-project {
   gap: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px;
   text-align: left;
   width: 60%;
}

.btn-deploy a {
   background: black;
   color: #fff;
   padding: 8px 17px;
   font-weight: bold;
   max-width: 100%;
   letter-spacing: 1px;
   text-shadow: none;
}

.btn-deploy a:hover {
   background: #fff;
   color: #000;
   outline: 1px solid #000;
}

.use-language {
   display: flex;
   border-radius: 5px;
   border: 1px dotted black;
   justify-content: space-between;
   height: 7px;
   width: 100%;
}

.languages {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   gap: 10px;
   font-size: 12pt;
}
.languages .usable {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   border-radius: 6px;
}

.languages .usable p {
   margin: 0 10px 0 0;
   color: var(--white);
   text-shadow: 1px 2px 6px var(--text);
}

.languages .usable span {
   height: 30px;
   color: #fff;
   text-shadow: 1px 2px 3px black;
   justify-content: center;
   padding: 5px;
   font-size: 15px;
   border-radius: 5px;
}

@media screen and (max-width: 590px) {
   .project-git div {
      flex-wrap: wrap;
   }

   .project-git img {
      width: 100%;
      height: auto;
   }

   .img-project,
   .desc-project {
      height: auto;
      max-width: 100%;
      width: 100%;
   }

   .showImage {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
   }

   .showImage img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      z-index: 999;
   }

   .showImage span {
      top: 4vh;
      font-size: 20pt;
      padding: 15px 10px;
   }

}