#work-projects h2 {
   font-size: 2rem;
}

.project-git {
   width: 100%;
   margin: 0 auto;
   color: #fff;
}

.project-git img {
   width: 200px;
   height: 200px;
}

.project-git ul {
   display: flex;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap;
   align-items: center;
}

.project-git li {
   list-style: none;
   max-width: 550px;
   width: 100%;
   background: #b0bccf;
   box-shadow: 5px 5px 10px #000; 
   /* linear-gradient(207deg, var(--text) 0%, var(--button) 50%, var(--border-shadow) 100%); */
   padding: 15px;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   height: 100%;
}

.project-git div {
   display: flex;
   box-shadow: inset rgb(0, 0, 0) 5px 5px 20px 0px;
   flex-direction: row;
   gap: 20px;
   justify-content: center;
   width: 100%;
}

.desc-project {
   text-align: left;
}

@media screen and (max-width: 590px) {
   .project-git div {
      flex-wrap: wrap;
   }
}