@import "menu.css";
@import "projects.css";
@import "frameworks.css";
@import "works.css";

:root {
    font-size: 62.5%;

    --dark: #8482ff;
    --sm-smooth: #0054c1;
    --background-color: #dce3ff;
    --border-shadow: #8ed2e1;
    --button: #cfcaff;
    --aqua:#73b3ff;
    --text: #03002b;
    --text-btn: #6dfff3;
    --white: #ffffff;

    --html-bg: #c9003cc4 ;
    --react-project: #005bb1;
    --css-bg: #5c00d4c9 ;
    --js-bg: #ffff00c5 ;
    --react-bg: #00ccffa4 ;
    --vue-bg: #29700098 ;
    --sass-bg: #d300b7b7 ;
    --node-bg: #1f9c00ce ;
    --wp-bg: #0053cfce ;
    --docker-bg: #acacac ;
}

/* Tema Escuro */
.dark-mode {
    --background-color: #222831;
    --text: #f4f4f4;
    --white: #010025;
    --container-bg: rgba(255, 255, 255, 0.05);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --highlight-color: #00adb5;
}

/* Aplicando as Variáveis */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

#darkModeToggle {
    background-color: var(--text);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    font-size: 1.4rem;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.page {
    padding: 5em 3em 0;
    display: grid;
    align-content: stretch;
    grid-template-rows: 1fr;
    gap: 40px;
    max-width: 82vw;
}

header, section, footer {
    background-color: var(--background);
    margin: auto;
    width: 100%;
    position: relative;
}

h1, h2, h3, h4, p {
    margin: 0 auto;
    color: var(--text);
}

h2 {
    font-size: 3rem;
    /* text-shadow: 0px 1px 2px var(--dark); */
    text-transform: uppercase;
}
 
h3 { font-size: 2.2rem; }
h4 { font-size: 1.95rem; }
 
p {
    font-size: 1.6rem;
    line-height: 1.35;
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: initial;
}

#portfolio {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffc798 0%, #fefefe 50%, #ffc798 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;    
    background: var(--background-color);
    color: var(--text);
    transition: all 0.3s ease-in-out;

}

/* Circulos internos */
.circlebody {
    filter: blur(4px);
    overflow: hidden;
    position: absolute;
}

.circle {
    opacity: .051;
    z-index: -1;
    border-radius: 10%;
    border: 4px solid transparent;
    border-right-color: #fff;
    overflow: hidden;
    filter: blur(10px);
    position: fixed; /* Nao interferir no layout da page */
}
 
/* Animação dos Circulos internos */
@keyframes moveDown {
    from {
        top: -20%;
    }
    to {
        top: 100%;
    }
}
 