@import "menu.css";
@import "projects.css";
@import "frameworks.css";

:root {
    --blue: #002871;
    --blue-green-smooth: #FFA500;
    --green-smooth: #FFFFE0;
    --green: #005753;
    --green-dark: #640000;
    --green-sea: #007468;
    --border-green: #2c5955;
    --yellow-smooth: #F0E68C;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.shape {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    transform: rotate(220deg);
}
  
.circle {
    border-radius: 10%;
}
  